/* ===== Style général chez-JL ===== */

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* ===== HEADER COMMUN ===== */
.header-bar {
  background-color: #c8a165; /* couleur par défaut, à changer par page */
  padding: 20px;
  color: white;
  text-align: center;
}

.header-content {
  display: flex;
  flex-direction: column; /* bouton, titre, slogan verticalement */
  align-items: center;    /* centre horizontalement tout */
  gap: 10px;
}
.btn-retour {
  font-size: 14px;
  padding: 6px 10px;

  background: rgba(255,255,255,0.25);
  color: white;
  padding: 8px 12px;
  text-decoration: none;
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
}

.page-bricolage .header-bar { background-color: #c8a165; }
.page-electricite .header-bar { background-color: #c0392b; }
.page-maison .header-bar { background-color: #ecf0f1; color: #333; }
.page-creation .header-bar { background-color: #9b59b6; }
.page-objets-anciens .header-bar { background-color: #f39c12; }

/* ===== CONTENU ===== */
main {
  max-width: 900px;
  margin: auto;
  background: white;
  padding: 30px;
}

/* ===== FOOTER ===== */
footer {
  background: #ddd;
  text-align: center;
  padding: 15px;
  font-size: 14px;
}

/* ===== COULEURS PAR PAGE ===== */
.page-accueil .header-bar { background: #1abc9c; }
.page-bricolage .header-bar { background: #c8a165; }
.page-electricite .header-bar { background: #c0392b; }
.page-maison .header-bar { background: #ecf0f1; color:#333; }

/* ===== MENU ACCUEIL ===== */

.header-accueil {
  flex-direction: column;
  text-align: center;
}

.menu-principal {
  margin-top: 15px;
}

.menu-principal a {
  margin: 0 12px;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.menu-principal a:hover {
  text-decoration: underline;
}
